<%= link_to '&lt;&lt; back'.html_safe, org_leagues_path %>
<h1>Editing League</h1>

<%= form_for(@league, :url => org_league_path(@org,@league), :html => { :role => "form" }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>    
  <%= render 'fields', f:f %>
<% end %>  



