<center>
<h3>Welcome to Paddi, the paddle ladder manager!</h3>
<br/><br/>
<%= link_to 'Try the Match Simulator!', simulator_path %>
<br/><br/>
<%= link_to 'Learn more about ELO Ratings', page_path('faqs') %>
<br/><br/>
<%= image_tag "paddle2.jpg" %>
<center>