Quick links:<br/>
<a href="#ratings">Ratings Curve</a><br/>
<a href="#comparing">Comparing Ranking Systems</a><br/>
<a href="#examples">Examples</a><br/>
<a href="#bottom">Bottom Line Benefits</a><br/>
<br/><br/>

<h3 id="ratings">ELO Rating System (aka the <b>Hal</b>gorithm<sup>&trade;</sup>)</h3><br/>
<%= image_tag "bell.png" %>
<br/><br/><br/>

<h4 id="comparing">Comparing the ladder systems, old vs new:</h4>
Old system : Each match was worth 99 points to each winning team player, and -99 points to losing team player.  Players were given points based on match outcome only.
<br/><br/>
New System (ELO system) : Points are awarded / subtracted based on 2 factors.  First is the difficulty of opponents (opponent rating).  Second is the match scoring (games won in each set).
<br/>
<ul style="margin-top:12px;">
	<li>More points are awarded for beating more difficult opponents (less points for lower rated opponents).</li>
	<li>More points are awarded for winning by a large margin of games (less points for narrow wins).</li>
</ul>
The ELO rating system is used in many competitive activities.<br/>
See ATP tennis ELO rankings here : <a href="http://tennisabstract.com/reports/atp_elo_ratings.html" target="_blank">http://tennisabstract.com/reports/atp_elo_ratings.html</a>
<br/><br/>
<br/>

<h4 id="examples">Some examples of how the ELO system will improve upon the old system</h4>
In these examples we will use the following players:
<br/><br/>
Nick Ace : Expert player, rated 1900<br/>
Steady Eddie : Good player, rated 1700<br/>
Average Joe : Average player, rated 1500<br/>
<br/>

<h5>Example 1</h5>
Nick plays in a match with 3 other players on the ladder who are also rated 1900.  Nicks team wins 6-4, 3-6, 7-5 in a 3 set nail biter.<br/>
<ul>
	<li>Old System : Nick and his parter are awarded 99 points for the win (approximatly 1 ladder rank earned).</li>
	<li>New System : The ELO outcome of the match is that Nick and partner are awarded &lt;1 point.  There would be no ladder rank adjustment. The ladder doesn't need adjustment because the goal is to get good/competitive games.  Mission accomplished.</li>
</ul>

<h5>Example 2</h5>
Eddie plays in a league match with 3 other players rated 1700.  He wins in 6-0, 6-0 blowout.<br/>
<ul>
	<li>Old System : Eddie and parter get 99 points, or 1 ladder rank.</li>
	<li>New System : Eddie and parter get 16 ELO points (approximatly 3 ladder ranks).  There needs to be a big change here, this match was not even / competitive.  Big points are awarded to Eddie's team, and the same are deducted from the opponents.</li>
</ul>

<h5>Example 3</h5>
Joe is playing a match w/ other 1500 rated players.  However his partner is sick and finds a sub.  Nick Ace subs in.  Nick and Joe go on to win 6-1, 6-1.
<ul>
	<li>Old System : Joe's team is awareded 99 points, or 1 ladder rank.</li>
	<li>New System : Nick subbing in is a dramatic advantage for the Joe/Nick team.  The ELO points awarded in this match are +3 points for Nick/Joe even on this strong victory.  This is about a half ladder rank.</li>
</ul>

<h5>Example 4</h5>
Same as #3, but the ringer team of Nick/Joe barely win 6-4, 4-6, 6-4
<ul>
	<li>Old System : Joe's team is awareded 99 points, or 1 ladder rank.</li>
	<li>New System : Joe/Nick team LOSES 6 ELO points!  They were very heavily favored to win, and barely scraped it out.  It is possible to win the match and lose ELO points in lopsided matches like this.</li>
</ul>

<br/>
<h4 id="bottom">Bottom Line Benefits</h4>

1)  Faster movement on the ladder for players who are not in competitive games.  Big margin wins / losses will rapidly move players closer to their "true" skill level on the ladder.
<br/><br/>
2)  Subs are much fairer.  You no longer must find a sub "of equal skill".  Anyone can sub for anyone.  Their rating will be factored into the ELO points awarded.
<br/><br/>
3)  Players can take time off due to injury / personal reasons and come right back in at the appropriate level of the ladder with no guess work.  If you were a 1550 player when you left, you are still a 1550 when you come back, regardless of how many people came or left from the system.
<br/><br/>
4)  Tournament play / Sunday league play could be entered into the scoring results to make the ladder even more accurate/competitive.  The more results that are logged, the more accurate the players ratings will be for their relative skill levels.
<br/><br/>
5)  New players to the Town Club can be entered w/ a "provisional" status and provisional rating assigned by the Paddle Pro. Provisional players first 20 games count as double the points (+ or -) for THEM ONLY.  This will help to rapidly move new players to the correct area on the ladder.
<br/><br/>
6)  Website will maintain and display the ladder, reducing paperwork and manual processing by the Paddle Pro.  Results just need to be entered into a form on the web.