<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <span class="d-lg-none" style="color:#ffffff">Menu:</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <%= image_tag "paddle.png" %>
    <%= link_to "Paddi", root_path, class: 'navbar-brand', style: 'color:#F6E148;font-weight:bold' %>
      <ul class="nav navbar-nav w-100 nav-justified ">
        <%= render 'layouts/navigation_links' %>                                
      </ul>
  </div>
</nav>